In [2]:
type(1), type(4.5)

(int, float)

#연산자

In [3]:
10 // 3, 3** 4

(3, 81)

In [4]:
'py' + "thon"

'python'

In [5]:
'py' * 3

'pypypy'

내장함수

In [6]:
divmod(20,3)

(6, 2)

In [10]:
age = int(input("당신의 나이는 ?"))
int(age) + 10

533

In [1]:
type({}), type((1,0))

(dict, tuple)

#2024-2 데이터분석입문
## 01주 수업

## 파이썬기초
- 기본 자료형